<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lainiao.dicom.scp.dao.InstanceMapper">
    <select id="findInstanceByUid" resultMap="net.lainiao.dicom.scp.dao.base.InstanceBaseMapper.InstanceMap">
        select id from instance where instance_uid=#{uid}
    </select>
</mapper>